<!-- <footer class="footer bg-dark py-2 rounded mt-auto fixed-bottom"> -->
<footer class="footer bg-dark py-2 rounded mt-auto mt-auto">
    <div class="container text-muted">
        <span> &copy; Yelp Camp 2024</span>
        <!-- <img src="https://source.unsplash.com/collection/190727" alt="" srcset=""> -->
    </div>


</footer>